[build]
  publish = "build"
  command = "npm run build"
  base = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  CI = "false"
  GENERATE_SOURCEMAP = "false"
  REACT_APP_SUPABASE_URL = "https://vvbqbwnqsyelznjwnirv.supabase.co"
  REACT_APP_SUPABASE_ANON_KEY = "sb_publishable_7L5BubKpdz-Bq335XZrKlw_elr5WZlW"